//  table {
//      margin-top: 20px;
//      width: 100%;
//      border-collapse: collapse;
//      border-spacing: 0;

//      td {
//          border: 1px solid #cccccc;
//      }

//  }

//  thead {
//      //background: #007ACC;
//      color: white;
//  }

//  thead td {
//      padding: 10px;
//  }

//  tbody.color {
//      background: #EEEEEE;
//  }

//  tbody td {
//      padding: 5px;
//  }

.table{
    &.printable{
        td{
            padding: 5px;
        }
    }
}

 .jobs tbody td {
     border: 1px solid #cccccc;
 }

 .jobs tfoot td {
     border: 1px solid #cccccc;
     font-size: 18px;
 }


 @media print {

     .show-on-print {
         display: block;
     }

     .page-break {
         display: block;
         page-break-before: always;
     }

     .is-page {
         page-break-inside: avoid !important;
     }


     a[href]:after {
         content: none !important;
     }

     @page {
         margin-top: 0;
         margin-bottom: 0;
     }

     .printThis {
         padding-top: 15px;
         padding-bottom: 10px;
     }

     table {
         page-break-after: auto;
         margin-bottom: 5px !important;
         font-size: 10px;
     }

     tr {
         page-break-inside: avoid;
         page-break-after: auto
     }

     td {
         page-break-inside: avoid;
         page-break-after: auto;
         height: 10px;
         padding: 3px;
     }

     thead {
         display: table-header-group
     }

     tfoot {
         display: table-footer-group
     }
 }

 label {
     &.error {
         color: red;
     }
 }
