 table{
                margin-top: 20px;
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;

            }
            thead{
                background: #007ACC;
                color: white;
            }

            thead td{
                padding: 10px;
            }

            tbody.color{
                background: #EEEEEE;
            }

            tbody td{
                padding: 5px;
            }

            .jobs tbody td{
                border: 1px solid #cccccc;
            }

            .jobs tfoot td{
                border: 1px solid #cccccc;
                font-size: 18px;
            }