@import "../css/style.css";
@import "components/sticker";
@import "components/corner_ribbon";
@import "components/check_radio";
@import "components/print";
.error{
    color: red !important;
}

textarea{
    min-height: 100px;
    max-height: 100px;
}

.table {
    &.noborder {
        tbody td {
            border: none;
        }
    }
}

#modal-invoice{
    .modal-header{
        position: relative;
    }
    .modal-title{
        margin-left: 100px;
        font-size: 25px;
    }

    .modal-body{
        padding-top: 55px;
    }
}

span{
    &.round-btn{
        display: inline-block;
        background-color: $brand-primary;
        height: 20px;
        width: 20px;
        cursor: pointer;
        border-radius: 50%;
        color: white;
    }

    span{
        font-size: 15px;
    }
}