<template>
    <div>
        <canvas :id="id" :height="height"></canvas>
    </div>
</template>

<script>
    export default {
        props: ["height", "id", "title"],
        mounted() {
            let barGraph = new Chart(document.getElementById(this.$props.id), {
                type: 'bar',
                data: {
                    labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                    datasets: [{
                        label: "Population (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                        data: [2478, 5267, 734, 784, 433]
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: this.$props.title
                    }
                }
            });
        }
    }
</script>