<template>
    <div>
        <canvas :id="id" :height="height"></canvas>
    </div>
</template>

<script>
    export default {
        props: ["height", "id", "title", "labels", "datasets"],
        mounted() {
            let app = this;
            let datasets = [{
                data: [300, 400, 280, 600],
                label: "Africa",
                borderColor: "#3e95cd",
                pointRadius: 1,
                borderWidth: 1,
                fill: true,
            }, {
                data: [282, 350, 411, 502],
                label: "Asia",
                borderColor: "#8e5ea2",
                pointRadius: 1,
                borderWidth: 1,
                fill: true,
            }];
            var graph = document.getElementById(this.$props.id).getContext('2d');
            for (var i = 0; i < datasets.length; i++) {
                var gradient_color = graph.createLinearGradient(0, 0, 0, 300);
                gradient_color.addColorStop(0, app.$parent.hexToRgb(datasets[i].borderColor, 0.4));
                gradient_color.addColorStop(0.5, app.$parent.hexToRgb(datasets[i].borderColor, 0.1));
                gradient_color.addColorStop(0.7, app.$parent.hexToRgb(datasets[i].borderColor, 0.1));
                gradient_color.addColorStop(1, app.$parent.hexToRgb(datasets[i].borderColor, 0));
                datasets[i].backgroundColor = gradient_color;

            }


            new Chart(document.getElementById(this.$props.id), {
                type: 'line',
                data: {
                    labels: [1500, 1600, 1700, 1750],
                    datasets: datasets
                },
                options: {
                    title: {
                        display: true,
                        text: this.$props.title
                    }
                }
            });

        }
    }

</script>
