<template>
    <div>
        <canvas :id="id" :height="height"></canvas>
    </div>
</template>

<script>
    export default {
        props: ["height", "id", "title", "data"],
        mounted() {
            let barGraph = new Chart(document.getElementById(this.$props.id), {
                type: 'pie',
                data: JSON.parse(this.$props.data),
                options: {
                    legend: {
                        display: true
                    },
                    title: {
                        display: true,
                        text: this.$props.title
                    }
                }
            });
        }
    }
</script>